body{
  background-image: url(bg/bg.jpg) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:50% 45%;
  background-size: cover;

}

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* body {
  max-width: 1400px;
} */
.content{
  padding: 140px 80px;
}
.btnContainer{
  text-align: center;
}
#btn, #btn2 {
    transition-duration: .3s;
    transition-timing-function: ease-in;
    color: black;
    background-color: white;
    border: 2px solid black;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    /* background-color : transparent; */
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right:auto;
    cursor: pointer;
}
#btn:hover, #btn2:hover{
  /* color: #001F3F; */
  color: white;
  background-color: black;
}
.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 2px;
}

.column{
  flex: 25%;
  max-width: 24%;
  padding: 12px 4px;
}
.column img{
  width:100%;
  max-height: 383px;
  margin-top:10px;
  margin-left: 10px;
  vertical-align: middle;
  border-radius: 1%;
  box-shadow: 0px 8px 12px -6px black;
}

#customer_section{
  display: none;
}

.active_btn{
  background-color: black !important;
  /* color: #001F3F !important; */
  color: white !important;
}


.row {
  transform: scale(0.8);
}